*{
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: #363636;
}
header{
    text-align: center;
    text-shadow: 10px;
    margin-top: 2%;
    margin-right: 6%;
}
button{
    padding: 8px;
    border-radius: 5px;
}
button:hover{
    background-color: #B22222;
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);
}
img{
    max-width: 400px;
    border-radius: 200px;
    position: absolute;
    top: 23%;
    left: 58%;
}
img:hover{
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);
}
.titulo{
    color: white;
    position: absolute;
    top: 30%;
    left: 25%
}
.resumo{
    color: white;
    position: absolute;
    top: 40%;
    left: 15%
}
.registro{
    opacity:0.5;
    position: absolute;
    top: 95%;
    left: 45%
}
.registro:hover{
    opacity:1;

}